$main-color: #FFD52A;
$main2-color: #c3a41c;
$second-color: #2933FF;
$third-color: #2f222e;
$back-color: #1B1B1B;
$back2-color: #242424;
$back3-color: #363636;
$font-color: #ffffff;
$font2-color: #A7A7A7;

$main-font:  "Inter", -apple-system, Helvetica, Arial, sans-serif;

$margin-content: 100px;